<ul>
  <li>
    <a [routerLink]="['/mentee/login']">login</a>
  </li>
  <li>
    <a [routerLink]="['/mentee/register']">register</a>
  </li>
  <li>
    <a [routerLink]="['/mentee/dashboard-first-time']">dashboard-first-time</a>
  </li>
  <li>
    <a [routerLink]="['/mentee/dashboard']">dashboard</a>
  </li>
  <li>
    <a [routerLink]="['/mentee/learning-categories']">learning-categories</a>
  </li>
  <li>
    <a [routerLink]="['/mentee/programming-all']">programming-all</a>
  </li>
  <li>
    <a [routerLink]="['/mentee/programming-learning-areas']">programming-learning-areas</a>
  </li>
  <li>
    <a [routerLink]="['/mentee/learn-javascript-area']">learn-javascript-area</a>
  </li>
  <li>
    <a [routerLink]="['/mentee/mentor-profile']">mentor-profile</a>
  </li>
  <li>
    <a [routerLink]="['/mentee/my-connections']">my-connections</a>
  </li>
  <li>
    <a [routerLink]="['/mentee/mentee-profile-edit']">mentee-profile-edit</a>
  </li>
</ul>