/* variable */
$whiteColor: #fff;
$grayBgColor: #3f3f3f;
$grayTitleColor: #535353;
$blueTitleColor: #263970;
$blueNameColor: #3ca2de;
$grayInputTextColor: #222;
$grayRoleTextColor: #949494;
$redTextColor: #e4313e;
$grayInputBgColor: #f7f7f7;
$grayInputPlaceholderColor: #666;
$greenBgColor: #79bf43;
$grayFormTextColor: #767676;
$grayDateTextColor: #333;