@import '../../../styles/variables';

//.areas-section
.areas-section {
  margin-bottom: 30px;
  .title {
    font-size: 12px;
    font-weight: bold;
    color: $grayTitleColor;
    margin-bottom: 18px;
  }
}

.top-title {
	margin-top: 10px;
}
